# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data
/data/raw/*
/data/interim/*
/data/processed/*
!/data/raw/.gitkeep
!/data/interim/.gitkeep
!/data/processed/.gitkeep

# Outputs
outputs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
